/*Desktop to mobile port*/
#mobile{
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/*mobile port*/
@media (max-width: 820px){
    .section-p1{
        padding: 40px 40px;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #3A3535;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }

    #navbar.active{
        right: 0;
    }

    #navbar li{
        margin-bottom: 15px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #F4F4F4;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #F4F4F4;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #here {
        height: 50vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: space-evenly;
    }

    #feature .featureBox {
        margin: 15px 15px;
    }

    #products .pro-container1 {
        justify-content: space-between;
        grid-gap: 0;
        padding: 70px;
    }

    #products .pro {
        margin: 15px ;
        box-shadow: 20px 30px rgba(244, 244, 244, 0);
    }

    #products .pro-container .left {
        transform: translateX(-4rem);
    }

    #products .pro-container .right {
        transform: translateX(4rem);
    }

    #banner{
        height: 30vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2{
        margin-top: 20px;
    }

    #banner3 {
        padding: 0;
    }

    #banner3 .banner-box{
        width: 90%;
    }
}
