@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222
}

h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

/*Header*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}

#navbar li a:hover,
#navbar li a.active{
    color: #ff914d;
    cursor: pointer;
    transition: 0.3s;
}

#navbar li a.active::after,#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #ffbd59;
    position: absolute;
    bottom: -4px;
    left: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#here{
    background-image: url("/img/YUFORIA_Illustration16_9.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#here h4{
    padding-bottom: 15px;
}

#here h1{
    color: #ff914d;
}

#here button{
    margin-top: 10px;
    padding: 10px 20px;
    color:white;
    background-color:  #ff914d;
    border: 2px solid #ff914d;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: 15px;
}

#here button:hover{
    background-color:  #ffbd59;
    color: #ff914d;
    border: 2px solid #ffbd59;
    border-radius: 30px;
    border-width: 8px;
    font-weight: 700;
    font-size: 20px;
}


/*Home*/

/*Shop*/

/*Produc*/

/*News*/