@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #F4F4F4
}

h2{
    font-size: 46px;
    line-height: 64px;
    color: #F4F4F4;
}

h4{
    font-size: 20px;
    color: #F4F4F4;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #FF7315;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

/*Copy for Quick Comments.. Crtl+backspace for word delete<3*/

button.normal{
    font-size: 14px;
    font-weight: 600;
    color: #232020;
    background-color: #F4F4F4;
    border-radius: 2px;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #f4f4f4;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #F4F4F4;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
    background-color: #232020;
}

/*Header*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #232020;
    box-shadow: 0 5px 15px rgba(244, 244, 244, 0.03);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#header .logo {
    width: 100x;
    height: 50px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

#navbar li a:hover,
#navbar li a.active{
    color: #FF7315;
    cursor: pointer;
    transition: 0.3s;
}

#navbar li a.active::after,#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #FF7315;
    position: absolute;
    bottom: -4px;
    left: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/*Home*/

#here{
    background-image: url("img/Untitled\ design.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#here h4,#here h2,#here p{
    padding-bottom: 15px;
    color: #F4F4F4;
}

#here h1{
    color: #FF7315;
}

#here button{
    margin-top: 10px;
    padding: 10px 20px;
    color:#F4F4F4;
    background-color:  #232020;
    border: 2px solid #232020;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: 15px;
}

#here button:hover{
    background-color:  #3A3535;
    color: #FF7315;
    border: 2px solid #3A3535;
    border-radius: 30px;
    border-width: 8px;
    font-weight: 700;
    font-size: 20px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#feature .featureBox {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(244, 244, 244, 0.03);
    background-color: #3A3535;
    border: 1px solid #3A3535;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .featureBox:hover{
    box-shadow: 10px 10px 54px rgba(255, 115, 0, 0.3);
}

#feature .featureBox img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .featureBox h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: white;
    background-color: #FF7315;
}

/*#feature .featureBox:nth-child(2) h6{
  background-color: insert color here;  
    
} -in case of wanting to change color*/

#products{
    text-align: center;
    overflow: hidden;
}

#products .a-container{
    position: relative;
}

#products .pro-container {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    padding: 45px;
    flex: none;
    -ms-flex: wrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#products .pro-container1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-gap: 60px;
    padding: 50px 200px;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

#products .pro-container::-webkit-scrollbar{
    display: none;
}

#products .pro-container1.pro-container::-webkit-flex{
    flex-wrap: wrap;
 }

#products .pro-container .left,#products .pro-container .right {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100%;
    top: 0;
    position: absolute;
    padding: 0 10px;
    
}

#products .pro-container .right {
    right: 0;
    background: linear-gradient(to left, #232020 50%, transparent);
    justify-content: flex-end;
}

#products .pro-container .left {
    left: 0;
    background: linear-gradient(to right, #232020 50%, transparent);
}

#products .pro{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    background-color: #3A3535;
    border: 1px solid #3A3535;
    border-radius: 8px;
    box-shadow: 20px 30px rgba(244, 244, 244, 0.08);
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease-in-out;
    position: relative;
    transition: transform .8s;
}

#products .pro:hover{
    box-shadow: 20px 30px rgba(255, 115, 21, 1);
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.14);
}

#products .pro img{
    width: 100%;
    border-radius: 10px;
}

#products .pro .des{
    text-align: start;
    padding: 10px 0;
}

#products .pro .des span{
    color: #F4F4F4;
    font-size: 12px;
}

#products .pro .des h5{
    padding-top: 7px;
    color: #F4F4F4;
    font-size: 14px;
}

#products .pro .des i{
    font-size: 12px;
}

#products .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #FF7315;
}

#products .pro .plus {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color:  #F4F4F4;
    border-radius: 50px;
    border: 1px solid #F4F4F4;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url();/*add banner after making the header*/
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    font-size: 16px;
}

#banner h2{
    color: #FF7315;
    /*font-size -- if you want to adjust the text*/
    padding: 10px 0;
}

#banner button:hover{
    /*hover color will depend on the background image default is: orange and white*/
    background: #FF7315;
    color: #F4F4F4;
}

/*#banner span{
    color: ;
}*/

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url();/*different img from the banner img*/
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url();/*different img from the banner img*/
}

#sm-banner h4{
    color: #F4F4F4;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #3A3535;
    border: 1px solid #3A3535;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url();/*different img from the banner img*/
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url();/*different img from the banner img*/
}

#banner3 .banner-box3{
    background-image: url();/*different img from the banner img*/
}

#banner3 h2{
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #FF7315;
    font-weight: 800;
    font-size: 15px;
}

/*CSS space for newsletter but I skipped it*/




/*--E N D--*/



/*Shop*/

/*Produc*/

/*News*/